* { /* selector universal */
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px auto 150px;
}

header{
    grid-row: 1/2 ;
    grid-column:1/5 ;
    background-color: #FFC55C;
    align-items: center;
    position: sticky;
    top:0;
    width: 100%;

}

.header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
  
}

.header__logo img {
    width: 100px;
    height: auto;
}

.header__logo img:hover {
    opacity: 0.5;
}


.header__menu ul {
    display: flex;
    justify-content: space-between;
}

.header__menu ul li a {
    display: flex;
    justify-content: stretch;
    text-decoration: none;
    color: black;
    border-bottom: #FFC55C solid 3px ;
    padding: 15px;
}

.header__menu ul li a:hover {
    background-color: orangered;
    text-decoration: none;
    border-bottom: black solid 3px;
    text-decoration: none;
    color: white;
}

#intro {
    height:500px;
    background-image: url(../img/intro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px;
}

#intro .intro__titulo {
    color: white;
    text-align: center;
    font-size: 56px;
}

#intro .intro__subtitulo {
    color: white;
    text-align: center;
    font-size: 32px;
}

/* main contacto  */



/* termina estilo contacto */


/* main de productos */

main{
    grid-row: 2/3;
    grid-column: 1/5;
    width: 100%;
}
.conoceNuestroMenu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.conoceNuestroMenu__titulo{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    border-radius:15px;
    background-color: tomato;
}



/* pie de pagina */


.piePagina {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.piePagina__mapaDelSitio {
    display: flex;
    color: white;
    padding: 10px;
    justify-content: center;
}

.piePagina__contenedorFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.piePagina__contenedorFooter--menu ul li a {
    text-decoration: none;
    color: white;
}

.piePagina__contenedorFooter--menu ul li a:hover {
    text-decoration: none;
    color: orangered;
}

.piePagina__contenedorRedes--linkRedes{
    border-radius: 100%;
}

.piePagina__contenedorRedes--linkRedes .redes {
    background: white;
    border-radius: 100%;
    border: black 1px solid;
    height: 35px;
    width: auto;
    margin: 0 15px;
    padding: 0;
    opacity: 0.5;
}

a .redes:hover {
    opacity: 1;
}

.piePagina__copy {
    color: white;
    text-align: center;
    margin: 10px 0;
}

footer{
    grid-row:3/4;
    grid-column: 1/5;
    width: 100%;
}

@media (max-width:480px){
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

header{
    grid-row:1/2 ;
    grid-column:1/1 ;

}

main{
    grid-row:2/3 ;
    grid-column: 1/1;
}

.conoceNuestroMenu{
    display: flex;
    flex-wrap: wrap;
}



footer{

    grid-row:3/4 ;
    grid-column:1/1 ;
}

}