@charset "UTF-8";
header {
  display: flex;
  justify-content: space-around;
  background-color: #FFC55C;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 150px; }
  header .__logo img {
    width: 100px;
    height: auto; }

.header__logo img:hover {
  opacity: 0.5; }

.header__menu ul {
  display: flex;
  justify-content: space-between; }

.header__menu ul li a {
  display: flex;
  justify-content: stretch;
  text-decoration: none;
  color: black;
  border-bottom: #FFC55C solid 3px;
  padding: 15px; }

.header__menu ul li a:hover {
  background-color: orangered;
  text-decoration: none;
  border-bottom: black solid 3px;
  text-decoration: none;
  color: white; }

* {
  /* selector universal */
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif; }

body {
  display: flex;
  flex-direction: column;
  /* AQUI VAN LAS SECCIONES DE LAS PÁGINAS */ }
  body #intro {
    height: 500px;
    background-image: url(../img/intro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px; }
  body #intro .intro__titulo {
    color: white;
    text-align: center;
    font-size: 56px; }
  body #intro .intro__subtitulo {
    color: white;
    text-align: center;
    font-size: 32px; }
  body main {
    width: 100%; }
  body .secciones {
    display: flex;
    flex-direction: row;
    width: 100%; }
  body .seccionNovedades {
    padding: 20px;
    margin: 20px;
    background-color: burlywood;
    border-radius: 15px;
    flex-grow: 2; }
  body .seccionNovedades__titulo {
    text-align: center;
    margin: 20px auto;
    padding: 10px 0;
    background-color: tomato;
    border-radius: 15px; }
  body .seccionNovedades__texto {
    text-align: justify;
    margin: 20px auto; }
  body .seccionLoMasPedido {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border: 1px dotted orangered;
    background-color: white;
    border-radius: 15px; }
  body .seccionLoMasPedido__producto {
    background-color: burlywood;
    border-radius: 15px;
    padding: 20px;
    margin: 15px; }
  body .seccionLoMasPedido__titulo {
    text-align: center;
    margin: 20px auto;
    padding: 10px 0;
    background-color: tomato;
    border-radius: 15px;
    font-style: oblique; }
  body .seccionLoMasPedido__imagen {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 100px; }
  body .seccionLoMasPedido__texto {
    text-align: justify;
    margin: 20px auto;
    padding: 10px;
    line-height: 1.8; }
  body .piePagina {
    display: flex;
    flex-direction: column;
    background-color: black; }
  body .piePagina__mapaDelSitio {
    display: flex;
    color: white;
    padding: 10px;
    justify-content: center; }
  body .piePagina__contenedorFooter {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  body .piePagina__contenedorFooter--menu ul li a {
    text-decoration: none;
    color: white; }
  body .piePagina__contenedorFooter--menu ul li a:hover {
    text-decoration: none;
    color: orangered; }
  body .piePagina__contenedorRedes--linkRedes {
    border-radius: 100%; }
  body .piePagina__contenedorRedes--linkRedes .redes {
    background: white;
    border-radius: 100%;
    border: black 1px solid;
    height: 35px;
    width: auto;
    margin: 0 15px;
    padding: 0;
    opacity: 0.5; }
  body a .redes:hover {
    opacity: 1; }
  body .piePagina__copy {
    color: white;
    text-align: center;
    margin: 10px 0; }
